<p class="breadcrumb">Home > categoría con más resultados</p>
    <div class="white-box item-result" *ngFor="let item of itemsToShow" (click)="goToDetail(item)">
        <div class="row">
            <div class="img-content">
                <img [src]="item.picture" alt="producto" />
            </div>
            <div class="column">
                <div class="row  title-result">
                    <div class="price">$ {{item.price.amount | number :'1.0-0'}}</div>
                    <div class="city">{{item.city}}</div>
                </div>
                <div class=" title-result">{{item.title}}</div>
            </div>
        </div>
    </div>